/* Importa a fonte Inter do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body,
input,
button,
select,
textarea,
h1, h2, h3, h4, h5, h6,
label,
span,
div,
p,
a {
  font-family: 'Inter', sans-serif !important;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter', monospace;
}
